/*  */
.formI__user{
    margin: 1rem 0;
}
.identificate{background-color: transparent;}
.registrate{
background-color:  rgba(255, 255, 255,.2);

}
.boton{
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}


.form1__olvidastesContra{
    align-self: flex-end;
    padding: 0rem;
    margin-bottom: 1rem;
}
.olvidastes{
    text-decoration: none;
    color: white;
    font-size: 13px;
}


@media screen and (min-width:830px){
    .olvidastes{
        font-size: 16px;
    }
    .boton{  padding: 0 3rem;}


    .registrate,.identificate{
        padding: 3rem;
        font-size: 2rem;
    }
}